
@{
    ViewData["Title"] = "GetallAdmin";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
  <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
          
          </div>
          <div class="row">
         
          </div>
          <div class="row">
          
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Servis İrad Göstərisi</p>

              <table class="mytable">
  <tr>
    <th>Istifadəçi</th>
    <th>Ad</th>

    <th>Soyad</th>
     <th>Səlahiyyət</th>
         <th>Əmlliyyəat</th>


  
</tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
      <td>Italy</td>
            <td>Italy</td>
  </tr>

 
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
        <td>Italy</td>
            <td>Italy</td>
  </tr>

</table>
<div class="row">
  <div class="col-sm-6">
 
  </div>
  <div class="col-sm-6 d-flex justify-content-end mt-2">
  <nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
  </div>
</div>



           
                </div>
              </div>
            </div>
            </div>
            </div>
             </div>


