
@{
    ViewData["Title"] = "GetMMS";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

     <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
          
          </div>
          <div class="row">
         
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Fabrik İrad Göstərisi</p>

             <table class="mytable">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
 

  
  
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Servis İrad Göstərisi</p>

              <table class="mytable">
  <tr>
    <th>Irad</th>
    <th>Rəqəm</th>
    <th>Faiz</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>

 
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>
           
                </div>
              </div>
            </div>
            </div>
            </div>
             </div>



