@model List<PrecentVM>
@{
    ViewData["Title"] = "GetMMS";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

	
     <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
<form method="get" action="/AdminPanel/dashboard/GetMMS">
    <label for="start-date">Başlangıç Tarihi:</label>
    <input type="date" id="start-date" name="startDate" />

    <label for="end-date">Bitiş Tarihi:</label>
    <input type="date" id="end-date" name="endDate" />

    <button type="submit">Filtrele</button>
</form>
          </div>
          <div class="row">
         
          </div>
          <div class="row">
          

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Fabrik İrad Göstərisi</p>

                         <table class="mytable">
  <tr>
    <th>Irad</th>
    <th>Rəqəm</th>
    <th>Faiz</th>
  </tr>

@foreach (var item in Model)
{
          <tr>
    <td>@item.Irad</td>
    <td>@item.ReqemEnd</td>
    <td>@item.FaizEnd%</td>
  </tr>

}

 
 
</table>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Servis İrad Göstərisi</p>

              <table class="mytable">
  <tr>
    <th>Irad</th>
    <th>Rəqəm</th>
    <th>Faiz</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>

 
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>
           
                </div>
              </div>
            </div>
            </div>
            </div>
             </div>



